@media screen and (min-width: 1401px)  {

.container {
    width: 66.3vw;
}
	.fancy-hover {
  
		padding:0 1.825vw !important;}
	.navigation ul {
  
    width: 66.29vw;
}
 .navigation ul {
    margin: 0;
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
}
	.navigation li {
    float: left;
    text-transform: uppercase;
    font: normal normal 2.1rem "Poiret One";
}
.navigation a {
    display: block;
    font-size: 2.1rem;
    margin: 0;
    text-align: center;
}
	 .flex-about {

    font-size: 2rem;
    padding: 1%;
    top: 6%; width: 90%;}
	 
	 .flex-title {

		 font-size: 2.5rem;}
.flex-about p {

    font-size: 1.3rem;}
	 
	 .flex-slide {
		 /* max-width: 33%; */
		 }
}
 #header.fixed .fancy-hover:hover{    padding: 0 26.4px;
}
#header.fixed .fancy-hover{
background:transparent;
	padding:none;
	transition:none;
	border:none;
}
.fancy-hover {
  background: rgba(36,36,36,0.9);
color: #FFF;
display: flex;
align-items: center;
cursor: pointer;
padding: 0 28.4px;
position: relative;
overflow: hidden;
}


.fancy-hover:before,
.fancy-hover:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: opacity 0.1s linear;
}
#header.fixed .fancy-hover:before,#header.fixed .fancy-hover:after {
display:none
}

.fancy-hover:before {
  width: 160px;
  height: 120px;
  background: radial-gradient(circle at center, #FFF 0%, transparent 60%); 
  opacity: 0;
  mix-blend-mode: screen;
  transform: translate( calc( var(--px) * 0.5px ), calc( var(--py) * 0.5px ) ) translate(-50%, -50%);
  
}


.fancy-hover:after {
  background: inherit;
  top: 0; right: 0; bottom: 0; left: 0;
	margin: 2px 0;
  opacity: 0;
  transition-delay: 0.05s;
}


	
.fancy-hover:hover {background-color:rgba(56, 56, 56, 0.64);
border-left: 3px solid #000;
border-right: 3px solid #000; padding: 0px 25px; }
.fancy-hover:hover:before { opacity: 0.6; }
.fancy-hover:hover:after { opacity: 0.85; transition-delay: 0s; }



}
@media screen and (min-width:1201px) and (max-width:1400px) {
 #header.fixed .fancy-hover:hover{    padding: 0 26.4px;
}
#header.fixed .fancy-hover{
background:transparent;
	padding:none;
	transition:none;
	border:none;
}
.fancy-hover {
  background: rgba(36,36,36,0.9);
color: #FFF;
display: flex;
align-items: center;
cursor: pointer;
padding: 0 28.4px;
position: relative;
overflow: hidden;
}


.fancy-hover:before,
.fancy-hover:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: opacity 0.1s linear;
}
#header.fixed .fancy-hover:before,#header.fixed .fancy-hover:after {
display:none
}

.fancy-hover:before {
  width: 160px;
  height: 120px;
  background: radial-gradient(circle at center, #FFF 0%, transparent 60%); 
  opacity: 0;
  mix-blend-mode: screen;
  transform: translate( calc( var(--px) * 0.5px ), calc( var(--py) * 0.5px ) ) translate(-50%, -50%);
  
}


.fancy-hover:after {
  background: inherit;
  top: 0; right: 0; bottom: 0; left: 0;
	margin: 2px 0;
  opacity: 0;
  transition-delay: 0.05s;
}


	
.fancy-hover:hover {background-color:rgba(56, 56, 56, 0.64);
border-left: 3px solid #000;
border-right: 3px solid #000; padding: 0px 25px; }
.fancy-hover:hover:before { opacity: 0.6; }
.fancy-hover:hover:after { opacity: 0.85; transition-delay: 0s; }



} 
@media screen and (min-width:992px) and (max-width:1200px){
 .flex-container {
    /* width: 94% !important; */
    }
 
 .nav-toggle {
 display: block;
}
 .navigation {
 position: fixed;
 background-color: #000;
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
 z-index: 99999;
 visibility: hidden;
 opacity: 0;
 -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
 transition: opacity 0.5s, visibility 0s 0.5s;
}
 .navigation .primary-nav {
 position: relative;
 top: 45%;
 -moz-transform: translateY(-45%);
 -ms-transform: translateY(-45%);
 -webkit-transform: translateY(-45%);
 transform: translateY(-45%);
}
 .navigation li {
 display: block;
 margin-bottom: 20px;
 width:  100vw;
}
 .navigation a {
 display: block;
 font-size: 25px;
 margin: 0;
 text-align: center;
}
  
  .header-tel, .time-work{
   width: 30% !important;
   /* margin: 0 3%; */
   }
  .header-tel{margin-bottom:9px; line-height: 10px;}
  #header .header-content {
  /* width: 90%; */
  padding: 5px 0px;
  }
  #header .logo {padding-bottom: 10px;}
  
 .banner-text {/* padding-top: 55%; */}
  
 .testimonials blockquote {padding: 20px 5% 0;}
  
 .testimonials p {font-size: 12px;}
   .modal1{width: 51%;
   height: 413px;
    top: 0;}
  .modal-form label {font-size: 1.3rem;/*! width: 71%; *//*! padding-bottom: 3px; */}
  legend {font-size: 16px; margin-bottom: 4px;}
  .private1 {font-size: 1.4rem;}
 
   .modal1 .form-group input{font-size: 11px;
    width: 154px;}
  .modal1 .col-sm-6 {
    width: 47% !important;
    display: inline-block;
    padding: 0 5px;
    margin-bottom: 3px;
}
  .modal1 .hour, .modal-form .field { margin-top:0;}
  .modal-form .field label {width: 73%; padding-bottom: 16px;}
   textarea.form-control {
    height: 53px;
    width: 100%;
    font-size: 1.3rem;}
   .btn { width: 93%;padding: 2px 12px;margin-top: 5px;}
   .book1{line-height: 15.4px;
       font-size: 0.9rem;}
  .modal-form label[for=телефон] {
            width: 181px;
    max-width: 191px;
  margin-left: -13px;}

 
  .round-box {
    width: 180px !important;
    display: inline-block;
    }
  .round img {
    width: 180px !important;
    height: 180px !important;
    }
  .variant-1 {font-size: 1.5rem !important;}
  .variant-2 {font-size: 1.5rem !important;top: 37% !important;}
  .container-rond h1 {font-size: 2.7rem;}
  
  .map{width: 100% !important;/* height: 185px; */}
  .footer{padding:0;}
  .footer .display-none{/* display: none !important; */}
  .footer li #vk_groups{/* display: block !important; *//* margin:  0; *//* max-width: 206px; */}
  .footer li .insta{/* display: block !important; *//* margin:  0; */}
  .footer .numer_tel {text-align: center;}
  .footer .copy {text-align: center;}
  
   
  .flex-slide p {
    font-size: 0.4em;
    line-height: 15px;
    }
  .flex-title {font-size: 2.5rem;width: 273px;line-height: 2.5rem;}
  .flex-about {padding: 0.5%;border: 2px solid #f1f1f1;/* width: 273px; */}

 .colcarou-p {
    font-size: 1.0rem;
}
   .flex-slide {
    /* max-width: 29% !important; */
    }
 
  
  .tel .tel1 {
   line-height: 22.4px;
   font-size: 1.5rem !important;
   }
  .tel .tel2 {
   line-height: 12.4px;
   font-size: 1.2rem !important;
   }
  .or {
    line-height: 17.4px;
    font-size: 1.1rem !important;
    padding-bottom: 1px;
    }
  
  .tel a {
    font-size: 1.3rem !important;
    width: 100%;
    line-height: 1.4rem;
    display: inline-block;
    }
  .book {
        font-size: 1.1rem !important;
        margin: 0;
        text-align: center;
        line-height: 15.4px;
        padding-top: 5px;
        }
  .header-tel, .time-work {
      height: 123px;}
  .time-work p:first-child {
    font-size: 1.5rem !important;
    margin: 0;
    padding-bottom: 2px;
    }
  .time-work .col-sm-5, .time-work .col-md-5, .time-work .col-lg-5 {
   padding: 0;
   height: 45px;
   width: 50.667%;
   display: inline-block;
   padding-bottom: 5px;
   font-size: 1.3rem !important;
   }
  .time-work .col-sm-7, .time-work .col-md-7, .time-work .col-lg-7 {
      padding: 0;
      height: 23px;
      width: 48.667%;
      display: inline-block;
      font-size: 1.3rem !important;
      bottom: -3px;
      }
  
  .rooms img {
    width: 289px;
    height: auto;
   border-radius: 4px;}
  .private ul, .vip ul {
    background: #fff5f61a;
    width: 306px;
    margin: 0 auto;
    padding: 20px 6px;
    border-radius: 4px;
    font-size: 1.2rem;
    line-height: 2.3rem;
    margin-top: 20px;
    }
  .variant-3 {
    padding: 0;
    font-size: 1.8rem;
    }
  .room-box h3 {
    color: #fff;
   font-size: 1.5rem;}
  .room-box h2 {
    color: #fff;
   font-size: 2rem;}
  .room-box .tarif {
    width: 290px;
    margin: 0 auto;
    /* margin-left:0; */
    }
  .btn1{padding: 5px 5px;top: 12px;}
  .room-box.vip{/* margin-top:10px; */}
}
 @media screen and (min-width:1025px) and (max-width:1200px){
 .nav-toggle {
 display: block;
}
 .navigation {
 position: fixed;
 background-color: #000;
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
 z-index: 99999;
 visibility: hidden;
 opacity: 0;
 -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
 transition: opacity 0.5s, visibility 0s 0.5s;
}
 .navigation .primary-nav {
 position: relative;
 top: 45%;
 -moz-transform: translateY(-45%);
 -ms-transform: translateY(-45%);
 -webkit-transform: translateY(-45%);
 transform: translateY(-45%);
}
 .navigation li {
 display: block;
 margin-bottom: 20px;
 width:  100vw;
}
 .navigation a {
 display: block;
 font-size: 25px;
 margin: 0;
 text-align: center;
}
  
  .header-tel, .time-work{
   width: 30% !important;
   /* margin: 0 3%; */
   }
  .header-tel{margin-bottom:9px; line-height: 10px;}
  #header .header-content {
  /* width: 90%; */
  padding: 5px 0px;
  }
  #header .logo {padding-bottom: 10px;}
  
 .banner-text {/* padding-top: 55%; */}
  
 .testimonials blockquote {padding: 20px 5% 0;}
  
 .testimonials p {font-size: 12px;}
   .modal1{width: 51%;
   height: 413px;
    top: 0;}
  .modal-form label {font-size: 1.3rem;/*! width: 71%; *//*! padding-bottom: 3px; */}
  legend {font-size: 16px; margin-bottom: 4px;}
  .private1 {font-size: 1.4rem;}
 
   .modal1 .form-group input{font-size: 11px;
    width: 154px;}
  .modal1 .col-sm-6 {
    width: 47% !important;
    display: inline-block;
    padding: 0 5px;
    margin-bottom: 3px;
}
  .modal1 .hour, .modal-form .field { margin-top:0;}
  .modal-form .field label {width: 73%; padding-bottom: 16px;}
   textarea.form-control {
    height: 53px;
    width: 100%;
    font-size: 1.3rem;}
   .btn { width: 93%;padding: 2px 12px;margin-top: 5px;}
   .book1{line-height: 15.4px;
       font-size: 0.9rem;}
  .modal-form label[for=телефон] {
            width: 181px;
    max-width: 191px;
  margin-left: -13px;}

 
  .round-box {
    width: 136px;
    display: inline-block;
    }
  .round img {
    width: 136px;
    height: 136px;
    }
  .variant-1 {font-size: 1rem;}
  .variant-2 {font-size: 1rem; top:40%;}
  .container-rond h1 {font-size: 2.7rem;}
  
  #map{height: 185px;}
  .footer{padding:0;}
  .footer .display-none{display:inline-block; }
  .footer li #vk_groups{display:none;}
  .footer li .insta{display:none;}
  .footer .numer_tel {text-align: center;}
  .footer .copy {text-align: center;}
  
   
  .flex-slide p {
    font-size: 0.4em;
    line-height: 15px;
    }
  .flex-title {font-size: 2.5rem;/* width: 273px; */line-height: 2.5rem;}
  .flex-about {padding: 0.5%;border: 2px solid #f1f1f1;/* width: 273px; */}
 .flex-container{/* width: 75%; */}
 .colcarou-p {
    font-size: 1.0rem;
}
   .flex-slide {
    /* max-width: 27%; */
    }
 
  
  .tel .tel1 {line-height: 22.4px;
   font-size: 1.3rem;}
  .tel .tel2 {line-height: 12.4px;
   font-size: 1rem;}
  .or {line-height: 17.4px;
    font-size: 0.9rem;
   padding-bottom: 1px;}
  
  .tel a {
    font-size: 1.1rem;
    width: 100%;
    line-height: 1.4rem;
    display: inline-block;
    }
  .book {
        font-size: 0.9rem;
    margin: 0;
    text-align: center;
    line-height: 15.4px;
    padding-top: 5px;}
  .header-tel, .time-work {
      height: 123px;}
  .time-work p:first-child {
    font-size: 1.3rem;
    margin: 0;
    padding-bottom: 2px;
    }
  .time-work .col-sm-5, .time-work .col-md-5, .time-work .col-lg-5 {
   padding: 0;
   height: 45px;
   width: 50.667%;
   display: inline-block;
   padding-bottom: 5px;
   font-size: 1.1rem;
   }
  .time-work .col-sm-7, .time-work .col-md-7, .time-work .col-lg-7 {
      padding: 0;
      height: 23px;
      width: 48.667%;
      display: inline-block;
      font-size: 1.1rem;
      bottom: -3px;
      }
  
  .rooms img {
    width: 289px;
    height: auto;
   border-radius: 4px;}
  .private ul, .vip ul {
    background: #fff5f61a;
    width: 306px;
    margin: 0 auto;
    padding: 20px 6px;
    border-radius: 4px;
    font-size: 1.2rem;
    line-height: 2.3rem;
    margin-top: 20px;
    }
  .variant-3 {
    padding: 0;
    font-size: 1.8rem;
    }
  .room-box h3 {
    color: #fff;
   font-size: 1.5rem;}
  .room-box h2 {
    color: #fff;
   font-size: 2rem;}
  .room-box .tarif {
    width: 290px;
    margin: 0 auto;
    /* margin-left:0; */
    }
  .btn1{padding: 5px 5px;top: 12px;}
  .room-box.vip{/* margin-top:10px; */}
	 .our_serv .services_our {
    margin: -16px auto;
font-size: 1.4rem; 
    text-align: center;
}
	.our_serv .services_our h3{
font-size: 2.2rem; 
margin-top: 0;
} 
    
	 .service{padding: 5px;
}
}

@media screen and (max-width: 1024px) and (min-width: 881px){
 .nav-toggle {
 display: block;
}
 .navigation {
 position: fixed;
 background-color: #000;
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
 z-index: 99999;
 visibility: hidden;
 opacity: 0;
 -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
 transition: opacity 0.5s, visibility 0s 0.5s;
}
 .navigation .primary-nav {
 position: relative;
 top: 45%;
 -moz-transform: translateY(-45%);
 -ms-transform: translateY(-45%);
 -webkit-transform: translateY(-45%);
 transform: translateY(-45%);
}
 .navigation li {
 display: block;
 margin-bottom: 20px;
 width:  100vw;
}
 .navigation a {
 display: block;
 font-size: 25px;
 margin: 0;
 text-align: center;
}
  
  .header-tel, .time-work{
   width: 30% !important;
   /* margin: 0 3%; */
   }
  .header-tel{margin-bottom:9px; line-height: 10px;}
  #header .header-content {
  /* width: 90%; */
  padding: 5px 0px;
  }
  #header .logo {padding-bottom: 10px;}
  
 .banner-text {/* padding-top: 55%; */}
  
 .testimonials blockquote {padding: 20px 5% 0;}
  
 .testimonials p {font-size: 12px;}
   .modal1{width: 51%;
   height: 413px;
    top: 0;}
  .modal-form label {font-size: 1.3rem;/*! width: 71%; *//*! padding-bottom: 3px; */}
  legend {font-size: 16px; margin-bottom: 4px;}
  .private1 {font-size: 1.4rem;}
 
   .modal1 .form-group input{font-size: 11px;
    width: 154px;}
  .modal1 .col-sm-6 {
    width: 47% !important;
    display: inline-block;
    padding: 0 5px;
    margin-bottom: 3px;
}
  .modal1 .hour, .modal-form .field { margin-top:0;}
  .modal-form .field label {width: 73%; padding-bottom: 16px;}
   textarea.form-control {
    height: 53px;
    width: 100%;
    font-size: 1.3rem;}
   .btn { width: 93%;padding: 2px 12px;margin-top: 5px;}
   .book1{line-height: 15.4px;
       font-size: 0.9rem;}
  .modal-form label[for=телефон] {
            width: 181px;
    max-width: 191px;
  margin-left: -13px;}

 
  .round-box {
    width: 136px;
    display: inline-block;
    }
  .round img {
    width: 136px;
    height: 136px;
    }
  .variant-1 {font-size: 1rem;}
  .variant-2 {font-size: 1rem; top:40%;}
  .container-rond h1 {font-size: 2.7rem;}
  
  #map{height: 185px;}
  .footer{padding:0;}
  .footer .display-none{display:inline-block; }
  .footer li #vk_groups{display:none;}
  .footer li .insta{display:none;}
  .footer .numer_tel {text-align: center;}
  .footer .copy {text-align: center;}
  
   
  .flex-slide p {
    font-size: 0.4em;
    line-height: 15px;
    }
  .flex-title {font-size: 2rem;/* width: 273px; */line-height: 2.5rem;}
  .flex-about {padding: 0.5%;border: 2px solid #f1f1f1;/* width: 273px; */}
 .flex-container{/* width: 104%; */}
 .colcarou-p {
    font-size: 1.0rem;
}
   .flex-slide {
    /* max-width: 32%; */
    }
 
  
  .tel .tel1 {
   line-height: 22.4px;
   font-size: 1.5rem;
   }
  .tel .tel2 {
   line-height: 12.4px;
   font-size: 1.2rem;
   }
  .or {line-height: 17.4px;
    font-size: 0.9rem;
   padding-bottom: 1px;}
  
  .tel a {
    font-size: 1.2rem;
    width: 100%;
    line-height: 1.4rem;
    display: inline-block;
    }
  .book {
        font-size: 0.9rem;
    margin: 0;
    text-align: center;
    line-height: 15.4px;
    padding-top: 5px;}
  .header-tel, .time-work {
      height: 123px;}
  .time-work p:first-child {
    font-size: 1.5rem;
    margin: 0;
    padding-bottom: 2px;
    }
  .time-work .col-sm-5, .time-work .col-md-5, .time-work .col-lg-5 {
   padding: 0;
   height: 45px;
   width: 50.667%;
   display: inline-block;
   padding-bottom: 5px;
   font-size: 1.1rem;
   }
  .time-work .col-sm-7, .time-work .col-md-7, .time-work .col-lg-7 {
      padding: 0;
      height: 23px;
      width: 48.667%;
      display: inline-block;
      font-size: 1.1rem;
      bottom: -3px;
      }
  
  .rooms img {
    width: 289px;
    height: auto;
   border-radius: 4px;}
  .private ul, .vip ul {
    background: #fff5f61a;
    width: 306px;
    margin: 0 auto;
    padding: 20px 6px;
    border-radius: 4px;
    font-size: 1.2rem;
    line-height: 2.3rem;
    margin-top: 20px;
    }
  .variant-3 {
    padding: 0;
    font-size: 1.8rem;
    }
  .room-box h3 {
    color: #fff;
   font-size: 1.5rem;}
  .room-box h2 {
    color: #fff;
   font-size: 2rem;}
  .room-box .tarif {
    width: 290px;
    margin: 0 auto;
    /* margin-left:0; */
    }
  .btn1{padding: 5px 5px;top: 12px;}
  .room-box.vip{/* margin-top:10px; */}
	
	
.about_us {padding: 15px;}	 
.about_us p {font-size: 14px;margin-bottom: 9px;line-height: 17px;}
.lumiere {font-size: 1.3rem;}
#imposible {
    margin: 0 auto;
    font-size: 1.8rem;
    text-align: center;
    display: block;
    padding-bottom: 5px;
    }    
#list8 li {
    font-size: 14px;
    line-height: 20px;
    }	    
#list8 {margin-bottom: 12px;}  
.services {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    margin:  0;
}	 
.our_serv .services_our {
    margin: -16px auto;
font-size: 1.2rem; 
    text-align: center;
}
	.our_serv .services_our h3{
font-size: 2.2rem; 
margin-top: 0;
}
	.service{padding: 5px;
}
}

  @media screen and (min-width:765px) and (max-width:880px){
 .nav-toggle {
 display: block;
}
    .flex-container{/* width: 92%; */}
 .navigation {
 position: fixed;
 background-color: #000;
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
 z-index: 99999;
 visibility: hidden;
 opacity: 0;
 -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
 transition: opacity 0.5s, visibility 0s 0.5s;
}
 .navigation .primary-nav {
 position: relative;
 top: 45%;
 -moz-transform: translateY(-45%);
 -ms-transform: translateY(-45%);
 -webkit-transform: translateY(-45%);
 transform: translateY(-45%);
}
 .navigation li {
 display: block;
 margin-bottom: 20px;
 width:  100vw;
}
 .navigation a {
 display: block;
 font-size: 25px;
 margin: 0;
 text-align: center;
}
  
  .header-tel, .time-work{
   width: 30% !important;
   /* margin: 0 3%; */
   }
  .header-tel{margin-bottom:9px; line-height: 10px;}
  #header .header-content {
  /* width: 90%; */
  padding: 5px 0px;
  }
  #header .logo {padding-bottom: 10px;}
  
 .banner-text {/* padding-top: 55%; */}
  
 .testimonials blockquote {padding: 20px 5% 0;}
  
 .testimonials p {font-size: 12px;}
   .modal1{width: 51%;
   height: 413px;
    top: 0;}
  .modal-form label {font-size: 1.3rem;/*! width: 71%; *//*! padding-bottom: 3px; */}
  legend {font-size: 16px; margin-bottom: 4px;}
  .private1 {font-size: 1.4rem;}
 
   .modal1 .form-group input{font-size: 11px;
    width: 154px;}
  .modal1 .col-sm-6 {
    width: 47% !important;
    display: inline-block;
    padding: 0 5px;
    margin-bottom: 3px;
}
  .modal1 .hour, .modal-form .field { margin-top:0;}
  .modal-form .field label {width: 73%; padding-bottom: 16px;}
   textarea.form-control {
    height: 53px;
    width: 100%;
    font-size: 1.3rem;}
   .btn { width: 93%;padding: 2px 12px;margin-top: 5px;}
   .book1{line-height: 15.4px;
       font-size: 0.9rem;}
  .modal-form label[for=телефон] {
            width: 181px;
    max-width: 191px;
  margin-left: -13px;}

 
  .round-box {
    width: 136px;
    display: inline-block;
    }
  .round img {
    width: 136px;
    height: 136px;
    }
  .variant-1 {font-size: 1rem;}
  .variant-2 {font-size: 1rem; top:40%;}
  .container-rond h1 {font-size: 2.7rem;}
  
  #map{height: 185px;}
  .footer{padding:0;}
  .footer .display-none{display:inline-block; }
  .footer li #vk_groups{display:none;}
  .footer li .insta{display:none;}
  .footer .numer_tel {text-align: center;}
  .footer .copy {text-align: center;}
  
   
  .flex-slide p {
    font-size: 0.4em;
    line-height: 15px;
    }
  .flex-title {font-size: 2.5rem;/* width: 295px; */line-height: 2.5rem;}
  .flex-about {padding: 0.5%;border: 2px solid #f1f1f1;/* width: 316px; */}
 .colcarou-p {
    font-size: 1.0rem;
}
   .flex-slide {
    /* max-width: 202px; */
    }
 
  
  .tel .tel1 {
   line-height: 22.4px;
   font-size: 1.5rem;
   }
  .tel .tel2 {
   line-height: 12.4px;
   font-size: 1.2rem;
   }
  .or {line-height: 17.4px;
    font-size: 0.9rem;
   padding-bottom: 1px;}
  
  .tel a {
    font-size: 1.2rem;
    width: 100%;
    line-height: 1.4rem;
    display: inline-block;
    }
  .book {
        font-size: 1rem;
        margin: 0;
        text-align: center;
        line-height: 15.4px;
        padding-top: 5px;
        }
  .header-tel, .time-work {
      height: 123px;}
  .time-work p:first-child {
    font-size: 1.5rem;
    margin: 0;
    padding-bottom: 2px;
    }
  .time-work .col-sm-5, .time-work .col-md-5, .time-work .col-lg-5 {
   padding: 0;
   height: 45px;
   width: 50.667%;
   display: inline-block;
   padding-bottom: 5px;
   font-size: 1.2rem;
   }
  .time-work .col-sm-7, .time-work .col-md-7, .time-work .col-lg-7 {
      padding: 0;
      height: 23px;
      width: 48.667%;
      display: inline-block;
      font-size: 1.1rem;
      bottom: -3px;
      }
  
  .rooms img {
    width: 289px;
    height: auto;
   border-radius: 4px;}
  .private ul, .vip ul {
    background: #fff5f61a;
    width: 306px;
    margin: 0 auto;
    padding: 20px 6px;
    border-radius: 4px;
    font-size: 1.2rem;
    line-height: 2.3rem;
    margin-top: 20px;
    }
  .variant-3 {
    padding: 0;
    font-size: 1.8rem;
    }
  .room-box h3 {
    color: #fff;
   font-size: 1.5rem;}
  .room-box h2 {
    color: #fff;
   font-size: 2rem;}
  .room-box .tarif {
    width: 290px;
    margin: 0 auto;
    /* margin-left:0; */
    }
  .btn1{padding: 5px 5px;top: 12px;}
  .room-box.vip{/* margin-top:10px; */}
	  
	  
.about_us {padding: 15px;}	 
.about_us p {font-size: 14px;margin-bottom: 9px;line-height: 17px;}
.lumiere {font-size: 1.3rem;}
#imposible {
    margin: 0 auto;
    font-size: 1.8rem;
    text-align: center;
    display: block;
    padding-bottom: 5px;
    }    
#list8 li {
    font-size: 14px;
    line-height: 20px;
    }	    
#list8 {margin-bottom: 12px;}  
.services {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    margin:  0;
}
.our_serv .services_our {
    margin: -26px auto;
font-size: 1.27rem; 
    text-align: center;
}
	.our_serv .services_our h3{
font-size: 2.2rem; 
margin-top: 0;
}
	  .service{padding: 5px;
}
}
  

 @media screen and (min-width:581px) and (max-width:764px){
  .nav-toggle {
 display: block;
}
 .navigation {
 position: fixed;
 background-color: #000;
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
 z-index: 99999;
 visibility: hidden;
 opacity: 0;
 -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
 transition: opacity 0.5s, visibility 0s 0.5s;
}
 .navigation .primary-nav {
 position: relative;
 top: 45%;
 -moz-transform: translateY(-45%);
 -ms-transform: translateY(-45%);
 -webkit-transform: translateY(-45%);
 transform: translateY(-45%);
}
 .navigation li {
 width:  100vw;
 display: block;
 margin-bottom: 20px;
}
 .navigation a {
 display: block;
 font-size: 25px;
 margin: 0;
 text-align: center;
}
  
  .header-tel, .time-work{
   width: 42% !important;
   margin: 0 4%;}
  .header-tel{margin-bottom:9px; line-height: 10px;}
  #header .header-content {
  width: 100%;
  padding: 5px 0px;
  }
  #header .logo, #header .slogan {padding-bottom: 19px;width: 100%;max-width: 100%;margin-left: 0;text-align: center;left: 0;/* padding-bottom: 10px; */}
  
 .banner-text {/* padding-top: 55%; */}
  
 .testimonials blockquote {padding: 20px 5% 0;}
  
 .testimonials p {font-size: 12px;}
   .modal1{width: 91%;
   height: 413px;
    top: 0;
  padding: 5px;}
  .modal-form label {font-size: 1.4rem;}
  legend {font-size: 15px; margin-bottom: 5px;}
  .private1 {font-size: 1.4rem;}
 
   .modal1 .form-group input{font-size: 11px;
    width: 175px;
height: 25px;
}
  .modal1 .col-sm-6 {
    width: 48% !important;
    display: inline-block;
    padding: 0 5px;
    margin-bottom: 5px;
}
  .modal1 .hour, .modal-form .field { margin-top:0;/*! width: 47% !important; */}
  .modal-form .field label {     width: 57%; padding-bottom: 0;}
   textarea.form-control {
    height: 50px;
    width: 100%;
    font-size: 1.3rem;}
   .btn { width: 90%;padding: 4px;margin-top: 5px;}
   .book1{line-height: 15.4px;
       font-size: 0.9rem;}
  .modal-form label[for=телефон] {
            width: 130px;
    max-width: 191px;
  margin-left: -13px;}

 
  .round-box {
    width: 171px;
    display: inline-block;
    }
  .round img {
    width: 171px;
    height: 171px;
    }
  .variant-1 {font-size: 1.5rem;}
  .variant-2 {font-size: 1.5rem;top: 36%;}
  .container-rond h1 {font-size: 2.7rem;}
  
  #map{height: 185px;}
  .footer{padding:0;}
  .footer .display-none{display:inline-block; }
  .footer li #vk_groups{display:none;}
  .footer li .insta{display:none;}
  .footer .numer_tel {text-align: center;}
  .footer .copy {text-align: center;}
  
   .
  .flex-slide p {
    font-size: 0.3em;
    line-height: 12px;}
  .flex-title {font-size: 1.6rem;  }
  .flex-about {padding: 0.5%;
border: 2px solid #f1f1f1;
      width: 90%;}
 .colcarou-p {
    font-size: 1.1rem;
}
 
  
  .tel .tel1 {
   line-height: 22.4px;
   font-size: 1.6rem;
   }
  .tel .tel2 {
   line-height: 12.4px;
   font-size: 1.3rem;
   }
  .or {
    line-height: 17.4px;
    font-size: 1.2rem;
    padding-bottom: 1px;
    }
  
  .tel a {
    font-size: 1.4rem;
    width: 100%;
    line-height: 1.4rem;
    display: inline-block;
    }
  .book {
        font-size: 1.1rem;
        margin: 0;
        text-align: center;
        line-height: 15.4px;
        padding-top: 5px;
        }
  .header-tel, .time-work {
      height: 123px;}
  .time-work p:first-child {
    font-size: 1.5rem;
    margin: 0;
    }
  .time-work .col-sm-5, .time-work .col-md-5, .time-work .col-lg-5 {
   padding: 0;
   height: 45px;
   width: 42.667%;
   display: inline-block;
   padding-bottom: 5px;
   font-size: 1.3rem;
   }
  .time-work .col-sm-7, .time-work .col-md-7, .time-work .col-lg-7 {
      padding: 0;
      height: 23px;
      width: 50.667%;
      display: inline-block;
      font-size: 1.2rem;
      bottom: 6px;
      }
  
  .rooms img {
    width: 333px;
    height: auto;
    border-radius: 4px;
    }
  .private ul, .vip ul {
    background: #fff5f61a;
    width: 380px;
    margin: 0 auto;
    padding: 20px 6px;
    border-radius: 4px;
    font-size: 1.6rem;
    line-height: 3rem;
    margin-top: 20px;
    }
  .variant-3 {
    padding: 0 10px;
   font-size: 2rem;}
  .room-box h3 {
    color: #fff;
   font-size: 1.5rem;}
  .room-box h2 {
    color: #fff;
   font-size: 2rem;}
  .room-box .tarif {
    width: 290px;
    margin: 0 auto;
    /* margin-left:0; */
    }
  .btn1{padding: 5px 5px;top: 10px;}
  .room-box.vip{margin-top: 20px;}
	 
	 
.about_us {padding: 15px;}	 
.about_us p {font-size: 17px;margin-bottom: 9px;line-height: 17px;}
.lumiere {font-size: 1.3rem;}
#imposible {
    margin: 0 auto;
    font-size: 2rem;
    text-align: center;
    display: block;
    padding-bottom: 5px;
    }    
#list8 li {
    font-size: 16px;
    line-height: 23px;
    }	    
#list8 {margin-bottom: 12px;}  
.services {
    display: block;
    text-align: center;
    font-size: 2rem;
    margin:  0;
}
	 .swiper-container {
    width: 80%;
		 height: 70vh;}
	.our_serv .services_our {
    margin: 4px auto;
font-size: 1.5rem; 
    height: auto;
}
	.our_serv .services_our h3{
/*! font-size: 1.5rem; */ margin-top: 0;
} 
}
@media screen and (min-width:481px) and (max-width:580px){
   
   .nav-toggle {
 display: block;
}
 .navigation {
 position: fixed;
 background-color: #000;
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
 z-index: 99999;
 visibility: hidden;
 opacity: 0;
 -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
 transition: opacity 0.5s, visibility 0s 0.5s;
}
 .navigation .primary-nav {
 position: relative;
 top: 45%;
 -moz-transform: translateY(-45%);
 -ms-transform: translateY(-45%);
 -webkit-transform: translateY(-45%);
 transform: translateY(-45%);
}
 .navigation li {
 width:  100vw;
 display: block;
 margin-bottom: 20px;
}
 .navigation a {
 display: block;
 font-size: 25px;
 margin: 0;
 text-align: center;
}
  
  .header-tel, .time-work{
   width: 46% !important;
   margin: 0 2%;
   }
  .header-tel{margin-bottom:9px; line-height: 10px;}
  #header .header-content {
  width: 100%;
  padding: 5px 0px;
  }
  #header .logo, #header .slogan {/* padding-bottom: 10px; */padding-bottom: 19px;width: 100%;max-width: 100%;margin-left: 0;text-align: center;left: 0;}
  
 .banner-text {/* padding-top: 55%; */}
  
 .testimonials blockquote {padding: 20px 5% 0;}
  
 .testimonials p {font-size: 12px;}
   .modal1{width: 91%;
    height: 84%;
    top: 0;}
  .modal-form label {font-size: 1.3rem;}
  legend {font-size: 15px; margin-bottom: 8px;}
  .private1 {font-size: 1.4rem;}
 
   .modal1 .form-group input{font-size: 11px;
    width: 167px;
height: 23px;
}
  .modal1 .col-sm-6 {
    width: 45% !important;
    display: inline-block;
    padding: 0 5px;
    margin-bottom: 5px;
}
  .modal1 .hour, .modal-form .field { margin-top:0;}
  .modal-form .field label {     width: 78%; padding-bottom: 16px;}
   textarea.form-control {
    height: 51px;
    width: 100%;
    font-size: 1.3rem;}
   .btn { width: 90%;padding: 3px 6px;}
   .book1{line-height: 15.4px;
       font-size: 0.9rem;}
  .modal-form label[for=телефон] {
            width: 181px;
    max-width: 191px;
  margin-left: -13px;}

 
  .round-box {
    width: 127px;
    display: inline-block;
    }
  .round img {
    width: 123px;
   height: 123px;}
  .variant-1 {font-size: 1rem;}
  .variant-2 {font-size: 1rem; top:40%;}
  .container-rond h1 {font-size: 2.7rem;}
  
  #map{height: 185px;}
  .footer{padding:0;}
  .footer .display-none{display:inline-block; }
  .footer li #vk_groups{display:none;}
  .footer li .insta{display:none;}
  .footer .numer_tel {text-align: center;}
  .footer .copy {text-align: center;}
  
   
  .flex-slide p {
    font-size: 0.4em;
    line-height: 15px;
    }
  .flex-title {font-size: 1.6rem; }
  .flex-about {padding: 0.5%;
border: 2px solid #f1f1f1; 
     width: 90%;}
 .colcarou-p {
    font-size: 1.1rem;
}
 
  
  .tel .tel1 {
   line-height: 22.4px;
   font-size: 1.5rem;
   }
  .tel .tel2 {
   line-height: 12.4px;
   font-size: 1.2rem;
   }
  .or {
    line-height: 17.4px;
    font-size: 1.20.9rem;
    padding-bottom: 1px;
    }
  
  .tel a {
    font-size: 1.2rem;
    width: 100%;
    line-height: 1.4rem;
    display: inline-block;
    }
  .book {
        font-size: 1.1rem;
        margin: 0;
        text-align: center;
        line-height: 15.4px;
        padding-top: 5px;
        }
  .header-tel, .time-work {
      height: 123px;}
  .time-work p:first-child {
    font-size: 1.5rem;
    margin: 0;
    }
  .time-work .col-sm-5, .time-work .col-md-5, .time-work .col-lg-5 {
   padding: 0;
   height: 45px;
   width: 42.667%;
   display: inline-block;
   padding-bottom: 5px;
   font-size: 1.2rem;
   }
  .time-work .col-sm-7, .time-work .col-md-7, .time-work .col-lg-7 {
      padding: 0;
      height: 23px;
      width: 52.667%;
      display: inline-block;
      font-size: 1.2rem;
      bottom: 7px;
      }
  
  .rooms img {
    width: 289px;
    height: auto;
   border-radius: 4px;}
  .private ul, .vip ul {
    background: #fff5f61a;
    width: 328px;
    margin: 0 auto;
    padding: 20px 6px;
    border-radius: 4px;
    font-size: 1.4rem;
    line-height: 2.3rem;
    margin-top: 20px;
    }
  .variant-3 {
    padding: 0 10px;
   font-size: 2rem;}
  .room-box h3 {
    color: #fff;
   font-size: 1.5rem;}
  .room-box h2 {
    color: #fff;
   font-size: 2rem;}
  .room-box .tarif {
    width: 290px;
    margin: 0 auto;
    /* margin-left:0; */
    }
  .btn1{padding: 5px 5px;top: 10px;}
  .room-box.vip{margin-top: 20px;}

	
.about_us {padding: 15px;}	 
.about_us p {font-size: 16px;margin-bottom: 9px;line-height: 17px;}
.lumiere {font-size: 1.6rem;}
#imposible {
    margin: 0 auto;
    font-size: 1.9rem;
    text-align: center;
    display: block;
    padding-bottom: 5px;
    }    
#list8 li {
    font-size: 15px;
    line-height: 22px;
    }	    
#list8 {margin-bottom: 12px;}  
.services {
    display: block;
    text-align: center;
    font-size: 2.2rem;
    margin: 0;
}	 
	.swiper-container {
    width: 80%;
		height: 70vh;}
		 
.our_serv .services_our {
    margin: 4px auto;
font-size: 1.5rem; 
    height: auto;
}
	.our_serv .services_our h3{
/*! font-size: 1.5rem; */ margin-top: 0;
} 
	.service{margin: 0 auto;
}
  
 }

 @media screen and (min-width:320px) and (max-width:480px){
   
    
   .nav-toggle {
 display: block;
}
 .navigation {
 position: fixed;
 background-color: #000;
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
 z-index: 99999;
 visibility: hidden;
 opacity: 0;
 -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
 transition: opacity 0.5s, visibility 0s 0.5s;
}
 .navigation .primary-nav {
 position: relative;
 top: 45%;
 -moz-transform: translateY(-45%);
 -ms-transform: translateY(-45%);
 -webkit-transform: translateY(-45%);
 transform: translateY(-45%);
}
 .navigation li {
 display: block;
 width:  100vw;
 margin-bottom: 20px;
}
 .navigation a {
 display: block;
 font-size: 25px;
 margin: 0;
 text-align: center;
}
  
  .header-tel, .time-work{
   width: 71% !important;
   margin: 0 15%;
   }
  .header-tel{margin-bottom:9px; line-height: 10px;}
  #header .header-content {
  /* width: 90%; */
  padding: 5px 0px;
  }
  #header .logo, #header .slogan {padding-bottom: 19px;width: 100%;max-width: 100%;margin-left: 0;text-align: center;left: 0;/* padding-bottom: 10px; */}
  
 .banner-text {}
  
 .testimonials blockquote {padding: 20px 5% 0;}
  
 .testimonials p {font-size: 12px;}
  
  .modal1{width: 91%;
    height: 84%;
    top: 7%;}
  .modal-form label {font-size: 1.2rem;}
  legend {font-size: 13px; margin-bottom: 7px;}
  .private1 {font-size: 1.4rem;}
 
   .modal1 .form-group input{font-size: 11px;
    width: 110px;
height: 23px;
}
  .modal1 .col-sm-6 {
    width: 46% !important;
    display: inline-block;
    padding: 0 5px;
    margin-bottom: 4px;
}
  .modal1 .hour, .modal-form .field { margin-top:0;}
  .modal-form .field label {  padding-bottom: 16px;width: 110%;}
   textarea.form-control {
    height: 50px;
    width: 100%;
    font-size: 1.3rem;}
   .btn { width: 90%;padding: 2px 7px;margin-top: 5px;}
   .book1{line-height: 15.4px;
       font-size: 0.9rem;}
  .modal-form label[for=телефон] {
        width: 145px;
    max-width: 150px;
  margin-left: -13px;}
  
  .round-box {
    width: 123px;
    display: inline-block;}
  .round img {
    width: 123px;
   height: 123px;}
  .variant-1 {font-size: 1rem;}
  .variant-2 {font-size: 1rem; top:40%;}
  .container-rond h1 {font-size: 2.7rem;}
  
  #map{height: 185px;}
  .footer{padding:0;}
  .footer .display-none{display:inline-block; }
  .footer li #vk_groups{display:none;}
  .footer li .insta{display:none;}
  .footer .numer_tel {text-align: center;}
  .footer .copy {text-align: center;}
  

  .flex-slide p {
    font-size: 0.3em;
    line-height: 12px;}
  .flex-title {font-size: 1.6rem;margin-top: -10px;}
  .flex-about {padding: 0.5%;border: 2px solid #f1f1f1;
      width: 90%;}
 .colcarou-p {
    font-size: 0.8rem;
}
  
  .tel .tel1 {
   line-height: 22.4px;
   font-size: 1.6rem;
   }
  .tel .tel2 {
   line-height: 12.4px;
   font-size: 1.3rem;
   }
  .or {
    line-height: 17.4px;
    font-size: 1.2rem;
    padding-bottom: 1px;
    }
  
  .tel a {
    font-size: 1.2rem;
    width: 100%;
    display: inline-block;
    }
  .book {
    font-size: 1.1rem;
    margin: 0;
    line-height: 1.6rem;
    text-align: center;
    }
  .header-tel, .time-work {
      height: 112px;}
  .time-work p:first-child {
    font-size: 1.5rem;
    margin: 0;
    }
  .time-work .col-sm-5, .time-work .col-md-5, .time-work .col-lg-5 {
   padding: 0;
   height: 37px;
   width: 43.667%;
   display: inline-block;
   font-size: 1.2rem;
   }
  .time-work .col-sm-7, .time-work .col-md-7, .time-work .col-lg-7 {
    padding: 0;
    height: 23px;
    width: 53.667%;
    display: inline-block;
    font-size: 1.2rem;
    bottom: 8px;
    }
  
.rooms img {
    width: 289px;
    height: auto;
   border-radius: 4px;}
  .private ul, .vip ul {
    background: #fff5f61a;
    width: 306px;
    margin: 0 auto;
    padding: 20px 6px;
    border-radius: 4px;
    font-size: 1.2rem;
    line-height: 2.3rem;
    margin-top: 20px;
    /* text-align: center; */
    }
  .variant-3 {
    padding: 0 10px;
   font-size: 2rem;}
  .room-box h3 {
    color: #fff;
   font-size: 1.5rem;}
  .room-box h2 {
    color: #fff;
   font-size: 2rem;}
  .room-box .tarif {
    width: 315px;
    bottom: 23px;
    text-align: center;
    margin: 0 auto;
    }
  .btn1{padding: 5px 5px;top: 9px;}
  .room-box.vip{margin-top: 17px;}
	 .about_us {padding: 15px;}
	 
	 
.about_us p {font-size: 15px;margin-bottom: 9px;line-height: 17px;}
.lumiere {font-size: 1.5rem;}
#imposible {
    margin: 0 auto;
    font-size: 1.8rem;
    text-align: center;
    display: block;
    padding-bottom: 5px;
    }    
#list8 li {
    font-size: 14px;
    line-height: 23px;
    }	    
#list8 {margin-bottom: 12px;}  
.services {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    margin:  0;
}
	 .swiper-container {
    width: 80%;
    height: 70vh;
	 }  
	 
.our_serv .services_our {
    margin: 4px auto;
font-size: 1.2rem; 
    height: auto;
}
	.our_serv .services_our h3{
/*! font-size: 1.5rem; */ margin-top: 0;
} 
.service{margin: 0 auto;
}
}

 @media screen and (max-width:319px){ 
  
   .nav-toggle {
 display: block;
}
 .navigation {
 position: fixed;
 background-color: #000;
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
 z-index: 99999;
 visibility: hidden;
 opacity: 0;
 -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
 transition: opacity 0.5s, visibility 0s 0.5s;
}
 .navigation .primary-nav {
 position: relative;
 top: 45%;
 -moz-transform: translateY(-45%);
 -ms-transform: translateY(-45%);
 -webkit-transform: translateY(-45%);
 transform: translateY(-45%);
}
 .navigation li {
 display: block;
 width:  100vw;
 margin-bottom: 20px;
}
 .navigation a {
 display: block;
 font-size: 25px;
 margin: 0;
 text-align: center;
}
  
  .header-tel, .time-work{
   width: 79% !important;
   margin: 0 10%;
   }
  .header-tel{margin-bottom:9px; line-height: 10px;}
  #header .header-content {
  /* width: 90%; */
  padding: 5px 0px;
  }
  #header .logo, #header .slogan {padding-bottom: 19px;width: 100%;max-width: 100%;margin-left: 0;text-align: center;left: 0;/* padding-bottom: 10px; */}
  
 .banner-text {}
  
 .testimonials blockquote {padding: 20px 5% 0;}
  
 .testimonials p {font-size: 12px;}
  
  .modal1{width: 91%;
    top: 3%;
/*! height: auto; */
}
  .modal-form label {font-size: 1.0rem;margin-bottom: 0px;}
  legend {font-size: 1.3rem; margin-bottom: 5px;}
  .private1 {font-size: 1.4rem;}
 
   .modal1 .form-group input{font-size: 11px;
    width: 110px;
height: 22px;
}
  .modal1 .col-sm-6 {
    width: 49% !important;
    display: inline-block;
    padding: 0 5px;
    margin-bottom: 5px;
}
  .modal1 .hour, .modal-form .field { margin-top:0;}
  .modal-form .field label {  padding-bottom: 16px;width: 118%;}
   textarea.form-control {
    height: 40px;
    width: 100%;
    font-size: 1.3rem;}
   .btn { width: 90%;     font-size: 1.1rem;padding: 2px;margin-top: 5px;}
   .book1{line-height: 14px;
    font-size: 0.75rem;}
  .modal-form label[for=телефон] {
        width: 145px;
    max-width: 150px;
  margin-left: -13px;}
  
  
  .round-box {
    width: 123px;
    display: inline-block;}
  .round img {
    width: 123px;
   height: 123px;}
  .variant-1 {font-size: 1rem;}
  .variant-2 {font-size: 1rem; top:40%;}
  .container-rond h1 {font-size: 2.7rem;}
  
  #map{height: 185px;}
  .footer{padding:0;}
  .footer .display-none{display:inline-block; }
  .footer li #vk_groups{display:none;}
  .footer li .insta{display:none;}
  .footer .numer_tel {text-align: center;}
  .footer .copy {text-align: center;}
  
  
  .flex-slide p {
    font-size: 0.3em;
    line-height: 12px;}
  .flex-title {font-size: 1.6rem;   margin-top: 15px;}
  .flex-about {padding: 0.5%;border: 2px solid #f1f1f1;/* width: 57%; */}
 .colcarou-p {
    font-size: 0.8rem;
}
 
  
  .tel .tel1 {line-height: 22.4px;
   font-size: 1.3rem;}
  .tel .tel2 {line-height: 12.4px;
   font-size: 1rem;}
  .or {line-height: 17.4px;
    font-size: 0.9rem;
   padding-bottom: 1px;}
  
  .tel a {
    font-size: 1.1rem;
    width: 100%;
    display: inline-block;
    }
  .book {
    font-size: 0.9rem;
    margin: 0;
    line-height: 1.2rem;
    text-align: center;
    }
  .header-tel, .time-work {
      height: 112px;}
  .time-work p:first-child {
    font-size: 1.3rem;
   margin: 0;}
  .time-work .col-sm-5, .time-work .col-md-5, .time-work .col-lg-5 {
   padding: 0;
   height: 37px;
   width: 42.667%;
   display: inline-block;
   font-size: 1.1rem;
   }
  .time-work .col-sm-7, .time-work .col-md-7, .time-work .col-lg-7 {
    padding: 0;
    height: 23px;
    width: 54.667%;
    display: inline-block;
    font-size: 1rem;
    bottom: 8px;
    }
  
  .rooms img {
    width: 289px;
    height: auto;
   border-radius: 4px;}
  .private ul, .vip ul {
    background: #fff5f61a;
    width: 290px;
    margin-left: 0;
    padding: 20px 6px;
    border-radius: 4px;
    font-size: 1.2rem;
    line-height: 2.3rem;
    margin-top: 20px;}
  .variant-3 {
    padding: 0 10px;
   font-size: 2rem;}
  .room-box h3 {
    color: #fff;
   font-size: 1.5rem;}
  .room-box h2 {
    color: #fff;
   font-size: 2rem;}
  .room-box .tarif {
    width: 290px;
   margin-bottom: 15px; 
    margin-left:0;}
  .btn1{padding: 5px 5px;}
  .room-box.vip{margin-top:10px;}

.about_us {padding: 15px;}	 
.about_us p {font-size: 12px; margin-bottom: 9px; line-height: 17px;}
.lumiere {font-size: 1.3rem;}
#imposible {
    margin: 0 auto;
    font-size: 1.5rem;
    text-align: center;
    display: block;
    padding-bottom: 5px;}    
#list8 li {
    font-size: 12px;
    line-height: 17px;}	    
#list8 {margin-bottom: 12px;}  
.services {
    display: block;
    text-align: center;
    font-size: 1.5rem;
}	 
	 .swiper-container {
    width: 80%;
		 height: 70vh;}
	 
.our_serv .services_our {
    margin: -24px auto;
font-size: 1.5rem; }
	.our_serv .services_our h3{
font-size: 1.5rem; }
	 .service{margin: 0 auto;
}
	 
}
